<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466983570866-p0ieqfc62m48udcjbdnp4e28i32mb955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466983570866-p0ieqfc62m48udcjbdnp4e28i32mb955</string>
	<key>API_KEY</key>
	<string>AIzaSyDM9H4ot96c9LqndAkt_7sln5iao9eXKqc</string>
	<key>GCM_SENDER_ID</key>
	<string>466983570866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sogeum.lions354f1</string>
	<key>PROJECT_ID</key>
	<string>lions354f-7b978</string>
	<key>STORAGE_BUCKET</key>
	<string>lions354f-7b978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466983570866:ios:3382f90a7c3bb2945128ab</string>
</dict>
</plist>